<div class="col-xs-6">
    <mat-expansion-panel (opened)="opened()" #panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>Add Project (GitHub Repository)</mat-panel-title>
        </mat-expansion-panel-header>
        <app-add-edit-project-data [(name)]="name" 
                                   [(relativePath)]="relativePath"
                                   [(dotnetVersion)]="dotnetVersion"
                                   [(test)]="test"
                                   [(deploy)]="deploy"
                                   [(deployPort)]="deployPort"
                                   [dotnetVersions]="dotnetVersions"
                                   [loading]="loading">
        </app-add-edit-project-data>
        <mat-action-row>
            <button mat-button color="primary" 
                    (click)="addProject()"
                    [disabled]="loading || tryCloneEnable">Add</button>
            <button mat-button color="primary" 
                    (click)="tryClone()"
                    [disabled]="loading"
                    *ngIf="tryCloneEnable">Try clone again</button>
        </mat-action-row>
    </mat-expansion-panel>
</div>
