mat-form-field {
    width: 100%;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.progressBar {
    width: 100%; 
    height: 2px;
}

.green-icon {
    color: green;
}

.red-icon {
    color: red;
}

.gray-icon {
    color: gray;
}

.error-label {
    color: red;
}

.warning-label {
    color: orange;
    font-style: italic;
}

.tar {
    text-align: right;
}

.space-between {
    place-content: space-between;
}

.button-icon-75 {
    transform: scale(0.75);
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
    flex-basis: 0;
}

.mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}